*{
    margin: 0%;
}
.chatnav
{
height: 60px;
background-color: rgb(228, 225, 225);
display: flex;
padding: 5px;
position: fixed;
width: 100%;
}
.profile-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #e1c4ed;
}
h2{
    color: rgb(17, 17, 17);
    margin-left: 20px;
}
.icons{
    height: 40px;
   margin-right: 50px;
   border-radius: 50%;

}
.icon-div{
   margin-left: auto;
   padding: 10px;
}
.menu-icon{
    background-color: #595959;
    
}