.inputbox{
    background-color: rgb(228, 225, 225);
    height: 35px;
    padding: 10px;
    display: flex;
    align-items: center;
  
}
.emoji{
    height: 30px;
}
.plus{
    margin-left: 15px;
    height: 30px;
}
.text-input{
    margin-left: 15px;
    height: 30px;
    border-radius: 10px;
    border: none;
    width: 450px;
}
button{
    background-color:  #7171a1;
    height: 30px;
    color: white;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    border: none;
    margin-left: 10px;
}