* {
    margin: 0%;
}
.nav-container {
    background-color: rgb(163, 163, 163);
    padding-inline: 5px;
    padding-block: 2px;
    height: 50px;
    width: 28.5vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2%;
}
.logo {
    display: flex;
    justify-content: start;
}
.img-1 {
    height: 30px;
    margin-left: -7x;
}
.menu-item {
    display: flex;
    justify-content: end;
    margin-bottom: 2px;
}
.icon {
    margin-right: 20px;
    height: 30px;
}
.searchbar {
    margin-left: 0;
    display: flex;
}
.inputbox {
    padding-inline: 20%;
    height: 30px;
    width: 25rem;
    border: none;
}
.searchicon {
    background-color: rgb(225, 223, 223);
    padding: 21px;
    margin-left: 9.3rem;
    padding-inline: 6%;
}