* {
    margin: 0%;
}

.nav-container {
    background-color:  #424281;
    height: 58px;
    width: 29vw;
    padding: 5px;
    display: flex;
    align-items: center;
    padding-bottom: 2%;
}

.icon{
    margin-right: 20px;
}
    .menu{
        height: 30px;
        margin-right: 1%;    
    }
    .menu-item{
        display: flex;
        height: 30px;
     margin-left: auto;
        justify-content: end;
    }
    h1{
        color: white;
        margin-left: 5px;
    }
    img{
        height: 20px;
        padding: 5px;
        background-color: rgb(232, 234, 236);
        border-radius: 50%;

    }